@import "tailwindcss";
body {
  margin: 0;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
  background-color: #f2f3f8;

  overflow-x: hidden;
}




body.dark-mode {
  background-color: #121212;
  color: white;
}




.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin-left: 400px;
}
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #000;
  }
}






@media screen and (max-width: 450px) {
  h2 {
    font-size: 30px;
    font-family:
      "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
  }
  span {
    display: none;
  }
  .theme {
    width: 40px;
    height: 40px;
    font-size: 10px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .navbar {
    margin-bottom: 20px;
  }
  .sideBar {
    width: 102px;
  }
  ul {
    font-size: 18px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 93%;
    margin-left: 10px;
  }
  .menu-btn-1 {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    /* margin-top: 25px; */
    width: 50px;
  }
  .card-2 {
    width: 93%;
    margin-left: 10px;
  }
  .card-3 {
    width: 93%;
    margin-left: 10px;
  }
  .super {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
  }

  .mainFotter,
  .usefull {
    width: 80%;
    height: 250px;
  }

  .lms {
    font-size: 45px;
  }

  .pad {
    font-size: 20px;
  }

  .copy {
    font-size: 14px;
  }
  .lorem {
    margin-left: 70px;
  }
  .mainFotter img:nth-child(1) {
    width: 45px;
  }

  .mainFotter img:nth-child(2) {
    width: 35px;
  }

  .mainFotter img:nth-child(3) {
    width: 50px;
  }
  .sideOpen {
    height: auto;
  }
  .menu-links {
    height: 960px;
  }
  body {
    overflow-x: hidden;
  }
  .love {
    padding-bottom: 40px;
  }
  .sideImage {
    padding-bottom: 30px;
  }
  .sideIcon {
    padding-bottom: 0px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
  }
  .menu-btn {
    pointer-events: fill;
  }
  .userData {
    margin: 10px;
    width: 37%;
    margin-top: 80px;
  }
  .alpha {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .elpha {
    width: 400px;
    text-align: start;
  }
  .giga {
    padding-right: 20pxs;
  }
  .betta {
    margin-left: 30px;
    width: 83%;
  }
  .tabs {
    width: 95%;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    height: 30px;
    display: flex;
  }
  .tagButton {
    width: 80px;
    padding: 0px;
    margin-right: 6px;
  }
  .postContainer {
    width: 95%;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
  }
  .name {
    font-size: 16px;
    text-align: center;
  }

  .theme {
    display: none;
  }
  .box {
    height: 100vh;
  }
  .tabs {
    margin-left: 05px;
    width: 400px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .tagButton {
    margin-left: 05px;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    padding-left: 04px;
  }
  .postContainer-1 {
    margin-left: 04px;
    width: 400px;
  }
  .name {
    font-size: 15px;
  }
  .box {
    display: none;
  }
  table {
    overflow-x: scroll;
  }
  .one {
    position: relative;
  }
  .sidebar {
    position: absolute;
    right: 310px;
  }
  #menuBtn {
    padding-right: 60px;
  }
  .two {
    margin-left: 50px;
  }
  .imli {
    font-size: 15px;
  }
}
